<h2>Driving Distance From <%= @starting %></h2>
<table>
<% (0..(@destinations.count - 1)).each do |i| %>
<tr>
  <td>
    <%= @destinations[i] %>
  </td>
  <td>
    <%= @distances[i]["distance"]["text"] %>
  </td>
  <td>
    <%= @distances[i]["duration"]["text"] %>
  </td>
<% end %>